/* line 3, sass/viasaletravel.scss */
.fusion-secondary-main-menu {
  background: #662e91;
}

/* line 6, sass/viasaletravel.scss */
.fusion-main-menu > ul > li > a {
  text-transform: uppercase;
}

/* line 9, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-header {
  padding: 8px 0;
}

/* line 12, sass/viasaletravel.scss */
.searchform .search-table .search-button input[type="submit"] {
  background: #f7941d;
  width: 50px;
}

/* line 16, sass/viasaletravel.scss */
#wrapper .search-table .search-field input {
  border: 1px solid #7d7d7d;
  border-right: none;
}

/* line 20, sass/viasaletravel.scss */
.fusion-social-networks .fusion-social-networks-wrapper {
  margin: 0;
  margin-left: 30px;
}

/* line 24, sass/viasaletravel.scss */
.fusion-social-networks .fusion-social-network-icon {
  background: #d7d7d7;
  padding: 2px 7px;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  margin: 0 4px;
  border-radius: 20px;
}
/* line 33, sass/viasaletravel.scss */
.fusion-social-networks .fusion-social-network-icon.fusion-facebook {
  background: #3e4da0;
}
/* line 36, sass/viasaletravel.scss */
.fusion-social-networks .fusion-social-network-icon.fusion-twitter {
  background: #589fd5;
}
/* line 39, sass/viasaletravel.scss */
.fusion-social-networks .fusion-social-network-icon.fusion-googleplus {
  background: #db4628;
}
/* line 42, sass/viasaletravel.scss */
.fusion-social-networks .fusion-social-network-icon.fusion-instagram {
  background: #9b519e;
}
/* line 45, sass/viasaletravel.scss */
.fusion-social-networks .fusion-social-network-icon.fusion-youtube {
  background: #da4726;
}

/* line 50, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper {
  display: block;
  width: 70%;
  float: right;
  text-align: right;
}
/* line 56, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .katalogus-header-link, .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .head-search {
  float: right;
}
/* line 61, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .primary-header-line .katalogus-header-link a {
  background: #f7941d;
  color: white;
  line-height: 29px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-shadow: none;
  margin-right: 25px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 76, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .primary-header-line .katalogus-header-link a:hover {
  background: #662e91;
}
/* line 82, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .secondary-header-line {
  margin-top: 25px;
}
/* line 85, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .secondary-header-line .fusion-secondary-menu-social, .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .secondary-header-line .contact-phone {
  float: right;
}
/* line 89, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .secondary-header-line .contact-phone ul {
  margin: 0;
  padding: 0;
}
/* line 91, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .secondary-header-line .contact-phone ul li {
  color: #f7941d;
  line-height: 28px;
  font-size: 18px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 98, sass/viasaletravel.scss */
.fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper .secondary-header-line .contact-phone ul li.sep {
  padding: 0 10px;
}
