@media all and (max-width: 1024px)
{
  .fusion-header-v4 .fusion-header{
    padding: 10px 25px;
  }
  .sziget-korok-holder .circle .circle-inside{
    width: 100%;
    height: 100%;
  }
  .fusion-main-menu > ul > li{
    padding-right: 10px;
  }
  .viasale-kereso-holder .search-panel.v1 .head-labels ul li input[type=radio] + label {
    padding: 0 15px 0 4px;
  }
  .viasale-kereso-holder .search-panel.v1 .head-labels ul li {
    font-size: 13px;
    line-height: 38px;
  }
  .viasale-kereso-holder .search-panel.v1 .inputs > .input.search-button button {
    font-size: 13px;
  }

  .fusion-secondary-main-menu{
    padding-left: 10px;
    padding-right: 10px;
  }
  .fusion-main-menu > ul > li > a, .side-nav li a{
    font-size: 12px;
  }
  .sziget-korok-holder .circle .circle-inside .title{
    font-size: 18px;
  }
}
