@media all and (max-width: 1024px)
{
  .fusion-header-v4 .fusion-header{
    padding: 10px 25px;
  }
  .sziget-korok-holder .circle .circle-inside{
    width: 100%;
    height: 100%;
  }
  .fusion-main-menu > ul > li{
    padding-right: 10px;
  }
}
