@media all and (max-width: 1024px)
{
  .fusion-header-v4 .fusion-header{
    padding: 10px 25px;
  }
  .sziget-korok-holder .circle .circle-inside{
    width: 100%;
    height: 100%;
  }
  .fusion-main-menu > ul > li{
    padding-right: 10px;
  }
  .viasale-kereso-holder .search-panel.v1 .head-labels ul li input[type=radio] + label,
  .viasale-kereso-holder .search-panel.v2 .head-labels ul li input[type=radio] + label,
  .viasale-kereso-holder .search-panel.v3 .head-labels ul li input[type=radio] + label  {
    padding: 0 15px 0 25px;
  }
  .viasale-kereso-holder .search-panel.v1 .head-labels ul li input[type=radio] + label:before,
  .viasale-kereso-holder .search-panel.v2 .head-labels ul li input[type=radio] + label:before,
  .viasale-kereso-holder .search-panel.v3 .head-labels ul li input[type=radio] + label:before{
   top:0;
  }
  .viasale-kereso-holder .search-panel.v1 .head-labels ul li,
  .viasale-kereso-holder .search-panel.v2 .head-labels ul li,
  .viasale-kereso-holder .search-panel.v3 .head-labels ul li {
    font-size: 13px;
    line-height: 38px;
  }
  .viasale-kereso-holder .search-panel.v1 .inputs > .input.search-button button,
  .viasale-kereso-holder .search-panel.v2 .inputs > .input.search-button button,
  .viasale-kereso-holder .search-panel.v3 .inputs > .input.search-button button {
    font-size: 13px;
  }

  .fusion-secondary-main-menu{
    padding-left: 10px;
    padding-right: 10px;
  }
  .fusion-main-menu > ul > li > a, .side-nav li a{
    font-size: 12px;
  }
  .sziget-korok-holder .circle .circle-inside .title{
    font-size: 18px;
  }
  body.hotel-travel-page .hotel-row{
    width: auto;
    max-width: initial;
    flex-wrap: wrap;
  }
  body.hotel-travel-page .hotel-row .hotel-column-right,
  body.hotel-travel-page .hotel-row .hotel-column-left{
    flex-basis: 100%;
    padding: 0;
  }
  body.hotel-travel-page .travel-content-box .nav {
    display: block !important;
  }

  body.hotel-travel-page .hotel-data {
    margin-top: 30px;
  }
  .viasale-lista-holder .viasale-lista-set-ajanlat .list-header, .viasale-lista-holder .viasale-lista-set-program .list-header{
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  body.utazas-travel-page .hotel-row, body.hotel-travel-page .hotel-row{
    flex-wrap: wrap;
    width: 100% !important;
  }
  body.utazas-travel-page .hotel-row .hotel-column-left, body.hotel-travel-page .hotel-row .hotel-column-left,
  body.utazas-travel-page .hotel-row .hotel-column-right, body.hotel-travel-page .hotel-row .hotel-column-right{
    flex-basis: 100%;
  }
  body.utazas-travel-page .hotel-row .hotel-column-right, body.hotel-travel-page .hotel-row .hotel-column-right{
    padding: 40px 0 0 0;
  }
}
