$color-purple: #662e91;
$color-orange: #f7941d;
$color-green: #408333;
$color-blue: #369DDC;

$color-tenerife: #2578C7;
$color-fuerteventura: #EE8126;
$color-lanzarote: #DB2C23;
$color-gran-canaria: #FCD736;

$megamenu-height: 125px;
