@import 'settings';
@import 'fonts';

.fusion-secondary-main-menu{
    background: $color-purple;
    border: none !important;
    border-color: none !important;
}
.fusion-main-menu > ul > li > a {
    text-transform: uppercase;
}
.fusion-header-v4 .fusion-header {
    padding: 8px 0;
}
.searchform .search-table .search-button input[type="submit"]{
    background: $color-orange;
    width: 50px;
}
 #wrapper .search-table .search-field input{
    border: 1px solid #7d7d7d;
    border-right: none;
 }
 .fusion-social-networks .fusion-social-networks-wrapper{
    margin: 0;
    margin-left: 30px;
 }
 .fusion-social-networks .fusion-social-network-icon {
    background: #d7d7d7;
    padding: 2px 7px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    margin: 0 4px;
    border-radius: 20px;

    &.fusion-facebook{
        background: #3e4da0;
    }
    &.fusion-twitter{
        background: #589fd5;
    }
    &.fusion-googleplus{
        background: #db4628;
    }
    &.fusion-instagram{
        background: #9b519e;
    }
    &.fusion-youtube{
        background: #da4726;
    }

 }
 .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper{
    display: block;
    width: 70%;
    float: right;
    text-align: right;

    .katalogus-header-link, .head-search{
        float: right;
    }
    .primary-header-line{
        .katalogus-header-link{
            a {
                background: $color-orange;
                color: white;
                line-height: 29px;
                padding: 0 15px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 15px;
                letter-spacing: 1px;
                text-shadow: none;
                margin-right: 25px;
                -webkit-transition: all .4s;
                -moz-transition: all .4s;
                transition: all .4s;

                &:hover {
                    background: $color-purple;
                }
            }
        }
    }
    .secondary-header-line{
        margin-top: 25px;

        .fusion-secondary-menu-social, .contact-phone {
            float: right;
        }
        .contact-phone {
            ul {
                margin: 0; padding: 0;
                li {
                    color: $color-orange;
                    line-height: 28px;
                    font-size: 18px;
                    display: inline-block;
                    *display: inline;
                    zoom: 1;
                    &.sep {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
 }
 .fusion-main-menu > ul > li:last-child{
   padding-right: 0 !important;
 }
.copy-info-box{
  background: lighten($color-purple, 20%);
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
  color: lighten($color-purple, 50%);
}
.fusion-megamenu-title{
  padding: 0;
}

.fusion-megamenu-wrapper .fusion-megamenu-submenu{
  padding: 0;
  height: $megamenu-height;
}
.fusion-megamenu-title{
  a{
    display: block;
    height: $megamenu-height;
  }
}
.fusion-megamenu-icon{
  height: $megamenu-height;
  width: 100%;
  position: absolute;
  overflow: hidden;

  img {
    width: 100%;
    height: $megamenu-height;
    max-height: $megamenu-height;
  }
}
.fusion-footer-widget-area .current-menu-item > a {
  color: white !important;
}
.fusion-widget-area .widget_nav_menu li {
  padding: 6px 0;
}
.fusion-footer-widget-area a{
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  &:before {
    display: none;
  }
  &:hover {
    color: white !important;
  }
}

.fusion-widget-area > div.fusion-column {
  border-right: 1px solid white;
  height: 140px;
  padding: 0 40px;
}
.fusion-widget-area > div.fusion-column-last {
  border-right: none;
  a {
    text-transform: none !important;
  }
}
#menu-labresz-bal{
  li {
    width: 50%;
    float: left;
  }
}

#wrapper #main{
 .fusion-post-content > h2.entry-title > a{
   color: white;
   text-transform: uppercase;
   font-weight: bold;
 }
 .fusion-read-more{
   background: $color-orange;
   color: white;
   text-transform: uppercase;
   padding: 10px 25px 10px 15px;
   font-size: 12px;
   margin: 0;

   &:after {
     color: white;
   }
 }
}

.fusion-blog-layout-grid{
  .fusion-post-content-wrapper{
    padding: 20px 0 0 0;
  }
  .post {
    .fusion-content-sep{
      display: none;
    }
  }
  .fusion-post-content-container{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
  }
}

.boxed-title{
  h2.box-title{
    background: #d7d7d7;
    width: 350px;
    margin: 0 auto;
    text-align:center;
    color: white;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 10px;
  }

  &.title-color-purple {
    h2.box-title {
      background: $color-purple;
    }
  }
  &.title-color-orange {
    h2.box-title {
      background: $color-orange;
    }
  }
  &.title-up{
    h2.box-title{
      margin-top: -23px;
    }
  }
}

.couple-in-cloud{
  position: absolute;
  left: -380px;
  bottom: -20px;
  pointer-events: none;
  img {
    width: 500px;
    max-width: 500px;
  }
}

.program-box-cloud{
  height: 580px;
  max-height: 580px;
  overflow: hidden;
}

.viasale-lista-holder{
  .viasale-lista-set-program{
    padding-left: 100px;
    margin: 0 -35px;

    & > .item {
      width: 49%;
      display: inline-block;
      *display: inline;
      zoom: 1;

      .item-holder{
        padding: 20px 15px;
        .item-wrapper{
          background: #fff;
          display: flex;
          -webkit-box-shadow: 8px 8px 38px -10px #984b03;
          -moz-box-shadow: 8px 8px 38px -10px #984b03;
          box-shadow: 8px 8px 38px -10px #984b03;
          overflow: hidden;

          & > div {
            height: 183px;
            flex-basis: 50%;
            align-items: center;
            vertical-align: middle;
          }
          .line-left {
            overflow:hidden;
            .image {
              width: 100%;
              height: 100%;
              overflow: hidden;
              img{
                width: 100%;
                max-width: 100%;
                height: auto;
              }
            }
          }
          .line-right {
            padding: 10px;
            -webkit-box-shadow: 0 0 20px -7px #000;
            -moz-box-shadow: 0 0 20px -7px #000;
            box-shadow: 0 0 20px -7px #000;
          }
          .title h3{
            margin:0;

            a {
              text-transform: uppercase;
              color: $color-orange;
              font-size: 18px;
              line-height: 1;
            }
          }

          .desc {
            color: #9c9c9c;
            text-align: justify;
            font-size: 12px;
            line-height: 1.3;
            margin: 10px 0;
            height: 90px;
            max-height: 90px;
            overflow: hidden;
          }

          .action {
            display: flex;

            & > div {
              line-height: 26px;
            }

            .price {
              flex-basis: 40%;
              color: $color-orange;
              font-weight: bold;
              font-size: 24px;
            }
            .button-link {
              flex-basis: 60%;
              a{
                background: $color-orange !important;
                display: block;
                font-size: 18px;
                text-align: center;
                text-transform: uppercase;
                color: white;

                &:hover {
                  background: $color-purple !important;
                }
              }
            }
          }

        }
      }

    }
  }
}
.sziget-korok-holder{
  display: flex;
  align-items: baseline;

  .circle {
    flex-basis: 25%;
    text-align: center;
    padding: 20px 10px;
    position:relative;

    .circle-inside {
      border: 5px solid #acacac;
      position: relative;
      overflow: hidden;
      height: 250px;
      width: 250px;
      margin: 0 auto;
      background: #d7d7d7;
      border-radius: 200px;
      z-index: 20;

      .title {
        padding: 10px 0;
        background: #aaa;
        color: white;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 20px;
        font-size: 22px;
        text-transform: uppercase;
        pointer-events: none;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
      }
    }

    &.circle-tenerife {
      .circle-inside {
        border: 5px solid $color-tenerife;
        .title {
          background: $color-tenerife;
        }
      }
    }

    &.circle-gran-canaria {
      .circle-inside {
        border: 5px solid $color-gran-canaria;
        .title {
          background: $color-gran-canaria;
        }
      }
    }

    &.circle-fuerteventura {
      .circle-inside {
        border: 5px solid $color-fuerteventura;
        .title {
          background: $color-fuerteventura;
        }
      }
    }

    &.circle-lanzarote {
      .circle-inside {
        border: 5px solid $color-lanzarote;
        .title {
          background: $color-lanzarote;
        }
      }
    }
  }

  .circle:hover {
    .image img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .title {
      bottom: 50%;
      padding: 20px 0;
      -webkit-transform:translateY(50%);
      -moz-transform:translateY(50%);
      transform:translateY(50%);
    }
  }

  /*.circle:after {
    content: "";
    display: block;
    width: 40px;
    margin: 0 auto;
    height: 40px;
    position: absolute;
    bottom: -30px;
    background: #000;
    left: 114px;
    border-radius: 23px;
    transform: scaleX(5);
    z-index: 10;
  }*/
}

.trans-on {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
