@import 'settings';
@import 'fonts';

.fusion-secondary-main-menu{
    background: $color-purple;
    border: none !important;
    border-color: none !important;
}
.fusion-main-menu > ul > li > a {
    text-transform: uppercase;
}
.fusion-header-v4 .fusion-header {
    padding: 8px 0;
}
.searchform .search-table .search-button input[type="submit"]{
    background: $color-orange;
    width: 50px;
}
 #wrapper .search-table .search-field input{
    border: 1px solid #7d7d7d;
    border-right: none;
 }
 .fusion-social-networks .fusion-social-networks-wrapper{
    margin: 0;
    margin-left: 30px;
 }
 .fusion-social-networks .fusion-social-network-icon {
    background: #d7d7d7;
    padding: 2px 7px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    margin: 0 4px;
    border-radius: 20px;

    &.fusion-facebook{
        background: #3e4da0;
    }
    &.fusion-twitter{
        background: #589fd5;
    }
    &.fusion-googleplus{
        background: #db4628;
    }
    &.fusion-instagram{
        background: #9b519e;
    }
    &.fusion-youtube{
        background: #da4726;
    }

 }
 .fusion-header-v4 .fusion-logo .fusion-header-content-3-wrapper{
    display: block;
    width: 70%;
    float: right;
    text-align: right;

    .katalogus-header-link, .head-search{
        float: right;
    }
    .primary-header-line{
        .katalogus-header-link{
            a {
                background: $color-orange;
                color: white;
                line-height: 29px;
                padding: 0 15px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 15px;
                letter-spacing: 1px;
                text-shadow: none;
                margin-right: 25px;
                -webkit-transition: all .4s;
                -moz-transition: all .4s;
                transition: all .4s;

                &:hover {
                    background: $color-purple;
                }
            }
        }
    }
    .secondary-header-line{
        margin-top: 25px;

        .fusion-secondary-menu-social, .contact-phone {
            float: right;
        }
        .contact-phone {
            ul {
                margin: 0; padding: 0;
                li {
                    color: $color-orange;
                    line-height: 28px;
                    font-size: 18px;
                    display: inline-block;
                    *display: inline;
                    zoom: 1;
                    &.sep {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
 }
 .fusion-main-menu > ul > li:last-child{
   padding-right: 0 !important;
 }
.copy-info-box{
  background: lighten($color-purple, 20%);
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
  color: lighten($color-purple, 50%);
}
.fusion-megamenu-title{
  padding: 0;
}

.fusion-megamenu-wrapper .fusion-megamenu-submenu{
  padding: 0;
  height: $megamenu-height;
}
.fusion-megamenu-title{
  a{
    display: block;
    height: $megamenu-height;
  }
}
.fusion-megamenu-icon{
  height: $megamenu-height;
  width: 100%;
  position: absolute;
  overflow: hidden;

  img {
    width: 100%;
    height: $megamenu-height;
    max-height: $megamenu-height;
  }
}
.fusion-footer-widget-area .current-menu-item > a {
  color: white !important;
}
.fusion-widget-area .widget_nav_menu li {
  padding: 6px 0;
}
.fusion-footer-widget-area a{
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  &:before {
    display: none;
  }
  &:hover {
    color: white !important;
  }
}

.fusion-widget-area > div.fusion-column {
  border-right: 1px solid white;
  height: 140px;
  padding: 0 40px;
}
.fusion-widget-area > div.fusion-column-last {
  border-right: none;
  a {
    text-transform: none !important;
  }
}
#menu-labresz-bal{
  li {
    width: 50%;
    float: left;
  }
}

#wrapper #main{
 .fusion-post-content > h2.entry-title > a{
   color: white;
   text-transform: uppercase;
   font-weight: bold;
 }
 .fusion-read-more{
   background: $color-orange;
   color: white;
   text-transform: uppercase;
   padding: 10px 25px 10px 15px;
   font-size: 12px;
   margin: 0;

   &:after {
     color: white;
   }
 }
}

.fusion-blog-layout-grid{
  .fusion-post-content-wrapper{
    padding: 20px 0 0 0;
  }
  .post {
    .fusion-content-sep{
      display: none;
    }
  }
  .fusion-post-content-container{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.81);
  }
}

.boxed-title{
  h2.box-title{
    background: #d7d7d7;
    width: 355px;
    margin: 0 auto;
    text-align:center;
    color: white;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 10px;
  }

  &.title-color-purple {
    h2.box-title {
      background: $color-purple;
    }
  }
  &.title-color-orange {
    h2.box-title {
      background: $color-orange;
    }
  }
  &.title-up{
    h2.box-title{
      margin-top: -23px;
    }
  }
}

.couple-in-cloud{
  position: absolute;
  left: -380px;
  bottom: -20px;
  pointer-events: none;
  img {
    width: 500px;
    max-width: 500px;
  }
}

.program-box-cloud{
  height: 580px;
  max-height: 580px;
  overflow: hidden;
}

.viasale-lista-holder {

  .viasale-lista-set-ajanlat {
    margin-top: 30px;
    margin-bottom: 20px;

    .style-imagegrid {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .item {
        height: 280px;
        flex-basis: 25%;
        padding: 10px;

        .item-wrapper {
          height: 100%;
          padding: 15px;
          background: #dadada;
          overflow: hidden;
          position: relative;
          color: white;

          .image {
            z-index: 100;
            overflow: hidden;
            position: absolute;
            left: 50%;
            top: 0;
            height: 100%;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

            img{
              width: auto;
              max-width: initial;
              height: 100%;
            }
          }

          .overlay{
            z-index: 200;
            pointer-events: none;
            width: 120%;
            height: 120%;
            position: absolute;
            left: 10%;
            top: 10%;
            margin: -20%;
          }

          .titles, .price, .star {
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
          }

          .prices, .titles {
            padding: 15px;
            position: absolute;
            width: 100%;
            z-index: 300;
            left: 0;
          }

          .titles {
            top: 0;
          }

          .prices {
            bottom: 0;
          }

          .island {
            font-size: 16px;
            text-transform: uppercase;
          }

          .title {
            font-family: 'Arial Black', arial;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 50px;
          }

          .price {
            font-family: 'Arial Black', arial;
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 37px;
          }

          .star {
            i {
              margin-right: 4px;
              font-size: 20px;
            }
          }

          .action {
            float: right;

            a.link-btn {
              background: $color-orange;
              color: white;
              padding: 5px 12px;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: bold;

              &:hover {
                background: $color-purple;
              }
            }

          }
        }
      }

      .item.big {
        .overlay{
          top: 25%;
        }
      }

      .item:hover{
        .overlay{
          width: 120%;
          height: 120%;
          position: absolute;
          left: 0;
          top: 0;
          margin: 0%;
        }
        .image {
          img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
          }
        }
      }

      .item.island-Lanzarote {
        .overlay {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#DB2C23+0,DB2C23+100&0.8+0,0.34+45,0+60 */
          background: -moz-linear-gradient(-45deg,  rgba(219,44,35,0.8) 0%, rgba(219,44,35,0.34) 45%, rgba(219,44,35,0) 60%, rgba(219,44,35,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(-45deg,  rgba(219,44,35,0.8) 0%,rgba(219,44,35,0.34) 45%,rgba(219,44,35,0) 60%,rgba(219,44,35,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(135deg,  rgba(219,44,35,0.8) 0%,rgba(219,44,35,0.34) 45%,rgba(219,44,35,0) 60%,rgba(219,44,35,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdb2c23', endColorstr='#00db2c23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
      }

      .item.island-Fuerteventura {
        .overlay {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee8126+0,ee8126+100&0.8+0,0.34+45,0+60 */
background: -moz-linear-gradient(-45deg,  rgba(238,129,38,0.8) 0%, rgba(238,129,38,0.34) 45%, rgba(238,129,38,0) 60%, rgba(238,129,38,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(238,129,38,0.8) 0%,rgba(238,129,38,0.34) 45%,rgba(238,129,38,0) 60%,rgba(238,129,38,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(238,129,38,0.8) 0%,rgba(238,129,38,0.34) 45%,rgba(238,129,38,0) 60%,rgba(238,129,38,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccee8126', endColorstr='#00ee8126',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        }
      }
      .item.island-Tenerife {
        .overlay {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2578c7+0,2578c7+100&0.8+0,0.34+45,0+60 */
background: -moz-linear-gradient(-45deg,  rgba(37,120,199,0.8) 0%, rgba(37,120,199,0.34) 45%, rgba(37,120,199,0) 60%, rgba(37,120,199,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(37,120,199,0.8) 0%,rgba(37,120,199,0.34) 45%,rgba(37,120,199,0) 60%,rgba(37,120,199,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(37,120,199,0.8) 0%,rgba(37,120,199,0.34) 45%,rgba(37,120,199,0) 60%,rgba(37,120,199,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2578c7', endColorstr='#002578c7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


        }
      }
      .item.island-GranCanaria {
        .overlay {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcd736+0,fcd736+100&0.8+0,0.34+45,0+60 */
background: -moz-linear-gradient(-45deg,  rgba(252,215,54,0.81) 0%, rgba(252,215,54,0.34) 45%, rgba(252,215,54,0) 60%, rgba(252,215,54,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(252,215,54,0.8) 0%,rgba(252,215,54,0.34) 45%,rgba(252,215,54,0) 60%,rgba(252,215,54,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(252,215,54,0.8) 0%,rgba(252,215,54,0.34) 45%,rgba(252,215,54,0) 60%,rgba(252,215,54,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccfcd736', endColorstr='#00fcd736',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        }
      }

      .item.big{
        flex-basis: 50%;

        .image {
          width: 100%;
          height: auto;
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          top: 50%;

          img {
            height: auto;
            width: 102%;
          }
        }
      }
    }
    /* END: .style-imagegrid */
    .style-standard {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .item {
        flex-basis: 33.33333%;
        padding: 10px;
        position: relative;

        .discount-info{
          position: absolute;
          top: 9px;
          right: 18px;
          z-index: 300;
          width: 40px;
          height: 98px;
          font-size: 6px;
          line-height: 98px;
          padding-top: 15px;
          color: white;
          text-align: center;
          background: url('../../images/discount-card-v1.png');

          .d{
            font-size: 14px !important;
          }
        }

        .item-wrapper {
          height: 100%;
          background: #ffffff;
          border: 10px solid white;
          overflow: hidden;
          position: relative;
          color: #5c5c5c;
          -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.22);
          -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.22);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.22);

          .item-contents {
            border: 1px solid #f1f1f1;
          }


          .image {
            overflow: hidden;
            height: 220px;
            max-height: 220px;
            position: relative;

            img{
              z-index: 100;
              left: 50%;
              top:0;
              position: absolute;
              width: auto;
              max-width: initial;
              height: 102%;
              -moz-transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }

            .features{
              position: absolute;
              bottom: -100%;
              font-size: 12px;
              color: #8c8c8c;
              left: 0;
              width: 66.6666%;
              z-index: 200;
              background: rgba(255, 255, 255, 0.9);

              .feature-wrapper {
                display: flex;
                flex-wrap: wrap;

                & > div:not(.feat-divider) {
                  flex-basis: 50%;
                  padding: 5px 10px;
                }

                .feat-value {
                  color: black;
                  font-weight: bold;
                }

                .feat-divider {
                  flex-basis: 100%;
                  background: #e2e2e2;
                  height: 1px;
                }
              }
            }
          }

          .star {
            i{
              font-size: 14px;
              color: #dadada;
            }

            i.star-active {
              color: $color-green;
            }
          }

          .titles {
            display: block;
            position: relative;
            padding: 10px 10px 0 10px;

            .title {
              display: block;
              color: $color-purple;
              font-size: 15px;
              height: 45px;
              text-align: left;
              font-family: 'Arial Black', arial;
            }
            .star {
              position: absolute;
              right: 10px;
              top: 43px;
              z-index: 999;
              text-align: right;
            }
          }

          .place {
            padding: 10px;
            color: $color-orange;

            .city{
              color: lighten($color-orange, 5%);
            }
          }

          .actions{
            display: flex;
            align-items: stretch;
            justify-content: center;
            background: #f1f1f1;
            border-top: 1px solid #d9d9d9;

            & > div {
              flex-basis: 33.3333%;
              text-align: center;
              border-right: 1px solid #e3e3e3;
              padding: 8px;
              height: 65px;
              -webkit-box-shadow: inset -1px 0 0 #f9f9f9;
              -moz-box-shadow: inset -1px 0 0 #f9f9f9;
              box-shadow: inset -1px 0 0 #f9f9f9;
            }
            & > div:last-child{
              border-right: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
            }
            .price-eur {
              position: relative;
              .previous-price {
                position: absolute;

                span {
                  position: relative;
                }
                span:after{
                  content:"";
                  background: #111;
                  height: 1px;
                  width: 100%;
                  position: absolute;
                  bottom:0;
                  bottom: 8px;
                  left: 0;
                  -webkit-transform: rotate(-15deg);
                  -moz-transform: rotate(-15deg);
                  transform: rotate(-15deg);
                }
              }
              .current-price{
                line-height: 50px;
                color: $color-orange;
                font-family: 'Arial Black', arial;
                font-size: 22px;
              }
            }
            .price-huf{
              font-size: 14px;
              line-height: 50px;
              color: #9c9c9c;
            }

            .link-read {
              padding-top: 22px;

              a.link-btn{
                color:white;
                background: $color-orange;
                text-transform: uppercase;
                padding:4px 10px;

                &:hover {
                  background: $color-purple;
                }
              }
            }
          }

        }
      }

      .item:hover {
        .item-wrapper {
          border: 10px solid $color-purple;
        }
        .item-contents {
          border: 1px solid $color-purple;
        }
        .features{
          bottom: 0 !important;
        }
        .image{
          img{
            -webkit-transform: scale(1.2) translateX(-50%);
            -moz-transform: scale(1.2) translateX(-50%);
            transform: scale(1.2) translateX(-50%);
            -webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
          }
        }
      }
      .item.discounted{
        .previous-price{
          top: 10px;
          width: 100%;
          margin: 0 -8px;
        }
        .price-eur {
          padding: 20px 10px 10px 10px !important;
        }
      }
    }
    /* END: .style-standard */
  }
  /* END: .viasale-lista-set-ajanlat */

  .viasale-lista-set-program {
    padding-left: 100px;
    margin: 0 -35px;

    & > .item {
      width: 49%;
      display: inline-block;
      *display: inline;
      zoom: 1;

      .item-holder{
        padding: 20px 15px;
        .item-wrapper{
          background: #fff;
          display: flex;
          -webkit-box-shadow: 8px 8px 38px -10px #984b03;
          -moz-box-shadow: 8px 8px 38px -10px #984b03;
          box-shadow: 8px 8px 38px -10px #984b03;
          overflow: hidden;

          & > div {
            height: 183px;
            flex-basis: 50%;
            align-items: center;
            vertical-align: middle;
          }
          .line-left {
            overflow:hidden;
            .image {
              width: 100%;
              height: 100%;
              overflow: hidden;
              img{
                width: 100%;
                max-width: 100%;
                height: auto;
              }
            }
          }
          .line-right {
            padding: 10px;
            -webkit-box-shadow: 0 0 20px -7px #000;
            -moz-box-shadow: 0 0 20px -7px #000;
            box-shadow: 0 0 20px -7px #000;
          }
          .title h3{
            margin:0;

            a {
              text-transform: uppercase;
              color: $color-orange;
              font-size: 18px;
              line-height: 1;
            }
          }

          .desc {
            color: #9c9c9c;
            text-align: justify;
            font-size: 12px;
            line-height: 1.3;
            margin: 10px 0;
            height: 90px;
            max-height: 90px;
            overflow: hidden;
          }

          .action {
            display: flex;

            & > div {
              line-height: 26px;
            }

            .price {
              flex-basis: 40%;
              color: $color-orange;
              font-weight: bold;
              font-size: 24px;
            }
            .button-link {
              flex-basis: 60%;
              a{
                background: $color-orange !important;
                display: block;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                color: white;

                &:hover {
                  background: $color-purple !important;
                }
              }
            }
          }

        }
      }

    }
  }
}
.sziget-korok-holder{
  display: flex;
  align-items: baseline;

  .circle {
    flex-basis: 25%;
    text-align: center;
    padding: 20px 10px;
    position:relative;

    .circle-inside {
      border: 5px solid #acacac;
      position: relative;
      overflow: hidden;
      height: 250px;
      width: 250px;
      margin: 0 auto;
      background: #d7d7d7;
      border-radius: 200px;
      z-index: 20;

      .title {
        padding: 10px 0;
        background: #aaa;
        color: white;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 20px;
        font-size: 22px;
        text-transform: uppercase;
        pointer-events: none;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
      }
    }

    &.circle-tenerife {
      .circle-inside {
        border: 5px solid $color-tenerife;
        .title {
          background: $color-tenerife;
        }
      }
    }

    &.circle-gran-canaria {
      .circle-inside {
        border: 5px solid $color-gran-canaria;
        .title {
          background: $color-gran-canaria;
        }
      }
    }

    &.circle-fuerteventura {
      .circle-inside {
        border: 5px solid $color-fuerteventura;
        .title {
          background: $color-fuerteventura;
        }
      }
    }

    &.circle-lanzarote {
      .circle-inside {
        border: 5px solid $color-lanzarote;
        .title {
          background: $color-lanzarote;
        }
      }
    }
  }

  .circle:hover {
    .image img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .title {
      bottom: 50%;
      padding: 20px 0;
      -webkit-transform:translateY(50%);
      -moz-transform:translateY(50%);
      transform:translateY(50%);
    }
  }

  /*.circle:after {
    content: "";
    display: block;
    width: 40px;
    margin: 0 auto;
    height: 40px;
    position: absolute;
    bottom: -30px;
    background: #000;
    left: 114px;
    border-radius: 23px;
    transform: scaleX(5);
    z-index: 10;
  }*/
}

.viasale-kereso-holder {
  margin-top: -157px;

  .search-panel{
    width: 80%;
    margin: 0 auto;
    font-family: 'Arial';
    &.v1{
      background: $color-orange;
      border: 1px solid darken($color-orange, 10%);

      .head-labels{
        margin-bottom: 10px;
        ul, li {
          margin: 0;
          padding: 0;
        }
        ul{
          list-style: none;
          margin-left: 20px;

          li {
            display: inline-block;
            *display: inline;
            zoom: 1;
            color: white;
            font-size: 16px;
            font-weight: bold;
            line-height: 45px;
            padding: 0;
            margin-right: 5px;

            input[type=radio]{
              display:none;
            }

            input[type=radio] + label {
              display: block;
              padding: 0 25px 0 10px;
              background: darken($color-orange, 10%);
              cursor:pointer;

              i{
                margin: 0 5px;
              }

              &:hover{
                background: $color-green;
              }
            }

            input[type=radio]:checked + label {
              background: $color-green;
            }

            &.title-label {
              background: $color-purple;
              padding: 0 20px 0 10px;
            }
          }
        }
      }
      /*END:.head-labels{*/

      .inputs {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        padding-left: 15px;

        & > .input {

          border-style: solid;
          border-color: transparent;
          border-width: 0px 5px;
          position: relative;

          .ico {
            position: absolute;
            color: #444;
            pointer-events: none;
            top: 26px;
            left: 8px;
            font-size: 18px;
            line-height: 35px;
          }

          .dropdown-ico{
            position: absolute;
            right: 11px;
            top: 37px;
            color: #444;
          }

          label{
            display: block;
            color: white;
            padding: 0px 0px 4px 0px;
            font-size: 15px;
          }
          &.w60{
            flex-basis: 60%;
          }
          &.w40{
            flex-basis: 40%;
          }
          &.w20{
            flex-basis: 20%;
          }

          select, input[type=text] {
            border: none;
            line-height: 35px;
            padding: 0 10px;
            padding-left: 30px;
            display: block;
            width: 100%;
            max-height: initial;
            height: auto;
            font-size: 13px;
            color: #5c5c5c;
          }

          input[type=text].datepicker {
            font-size: 15px;
            padding-left: 35px;
            cursor: pointer;
          }

          input[type=text][readonly] {
            cursor: pointer;
          }

          select{
            cursor: pointer;
            height: 35px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;

            option {
              padding: 5px !important;
            }
          }

          &.search-button{
            text-align: center;
            background: lighten($color-orange, 10%);
            border-color: lighten($color-orange, 15%);
            border-style: solid;
            border-width: 1px;
            border-bottom-width: 0px;
            border-right-width: 0px;

            .button-wrapper{
              line-height: 83px;
            }

            button{
              cursor: pointer;
              padding: 0 15px 0 0;
              background: $color-purple;
              color:white;
              font-size: 17px;
              line-height: 40px;
              border:none;
              text-transform: uppercase;

              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
            }

            i{
              padding: 0 10px;
              margin-right: 10px;
              background: darken($color-purple, 6%);
              color: white;
              line-height: 40px;
              -webkit-border-radius: 10px 0 0 10px;
              -moz-border-radius:  10px 0 0 10px;
              border-radius:  10px 0 0 10px;
            }
          }
          &.row-bottom{
            padding-bottom: 20px;
          }
          &.last-item{
            padding-right: 20px;
          }
        }
        .row-divider {
          margin: 10px 0;
          display: block;
          flex-basis: 100%;
        }
      }
    }
    /*END: .search-panel.v1*/
  }
}

.multi-selector-holder{
  display: none;
  z-index: 1000;
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  -webkit-box-shadow: 0 5px 15px -5px #000;
  -moz-box-shadow: 0 5px 15px -5px #000;
  box-shadow: 0 5px 15px -5px #000;
  border-top: 1px solid $color-orange;

  .selector-wrapper{
    background: #fff;
    font-size: 14px !important;

    .sub-lvl {
      display: block;
    }

    .lvl-1 {
      border-left: 10px solid #d7d7d7;
      label{
        font-size: 13px !important;
      }
    }
    .lvl-2 {
      border-left: 20px solid #d7d7d7;
      label{
        font-size: 12px !important;
      }
    }
    .lvl-3 {
      border-left: 30px solid #d7d7d7;
      label{
        font-size: 11px !important;
      }
    }

    input[type=checkbox] {
      float: left;
      line-height: 30px;
      margin: 9px 12px;
    }

    label {
      color: #4c4c4c !important;
      line-height: 30px;
      cursor: pointer;
      padding-bottom: 1px !important;

      &:hover {
        background: #f4f4f4;
      }
    }
  }

  &.opened {
    display: block;
  }
}

.trans-on {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

body.page-template.page-template-100-sziget{
  #main{
    padding: 0;
  }
  #main > div.fusion-row{
    width: 100%;
    max-width: 100%;
  }
}

.fusion-tabs .nav-tabs > li .fusion-tab-heading{
  color: white;
  text-transform: uppercase;
}
.fusion-tabs .nav-tabs > li.active .fusion-tab-heading {
  color:black;
}


.autocomplete-suggestions{
  background: #fff;
  overflow: auto;
  max-height: 400px !important;
  border-top: 1px solid $color-orange;
  width: 100%;
  border-top: 1px solid $color-orange;
  -webkit-box-shadow: 0 5px 15px -5px #000;
  -moz-box-shadow: 0 5px 15px -5px #000;
  box-shadow: 0 5px 15px -5px #000;

  .autocomplete-suggestion{
    padding: 8px 15px;
    font-size: 12px;
    color: #8c8c8c;

    strong {
      color: lighten($color-purple, 10%);
    }

    &.autocomplete-selected {
      cursor: pointer;
      background: $color-purple;
      color: #fff;

      strong {
        color: white;
      }
    }
  }
}
/* Sziget oldal template */
.page-template-100-sziget{
  .sziget-top-left{
    padding-right: 10px !important;
    .fusion-imageframe{
      width: 100%;
      padding: 15px;
    }

    .sziget-nav-container{
      border: 1px solid #d7d7d7;
      margin-top: 15px;

      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul{
        li {
          position: relative;
          a{
            font-family: 'Arial';
            display: block;
            background: #ebeded;
            color: #6b6b6b;
            line-height: 45px;
            padding: 0 15px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px solid #d7d7d7;
          }

          &.current {
            &:after {
              content:"";
              position: absolute;
              right: -46px;
              z-index: 999;
              top: 0;
              background: transparent;
              border-color:  transparent transparent transparent darken($color-orange, 10%) ;
              border-width: 23px;
              border-style: solid;
              pointer-events: none;
            }
            a{
              background: darken($color-orange, 10%);
              color: white;
            }
          }
        }
      }

      ul.sub {
        display: none;

        li {
          a {
            background: #fff;
            font-size: 13px;
            color: #333;
            text-transform: none;
            padding: 0 15px;
            line-height: 25px;
            border: none;
            font-weight: normal;

            &:hover {
              color: $color-purple;
            }
          }
        }

        &.opened {
          display: block;
        }
      }
    }
  }
}

body.hotel-travel-page{

  .hotel-row{
    display: flex;
    width: 1100px;
    margin: 0 auto;

    .hotel-column-left{
      flex-basis: 60%;
      position: relative;
    }
    .hotel-column-right{
      padding-left: 25px;
      flex-basis: 40%;
      position: relative;
    }
  }
  #main {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #main > .fusion-row{
    max-width: 100%;
  }
  .travel-content{
    padding-top: 30px;
  }
  .image-set-galery{
    .image-set{
      display: flex;
      flex-wrap: wrap;
      margin: 2px -2px;

      .image-set-holder{
        position: relative;
        flex-basis: 20%;
        height: 80px;
        overflow: hidden;
        max-height: 80px;
        padding: 2px;

        a{
          overflow: hidden;
          position: relative;
          display:block;
          height: 100%;
        }

        img{
          position: absolute;
          left: 50%;
          top: 50%;
          max-width: 110%;
          width: 110%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .hotel-data{
    h1.title {
      margin: 0 0 10px 0;
      color: $color-orange;
      font-family: 'Arial';
      line-height: 1;
      font-size: 30px;
    }
    .zone-nav{
      margin-bottom: 10px;
      font-size: 15px;
      .sep{
        color: #eaeaea !important;
        font-size: 17px;
        margin: 0 4px;
      }
      .sep:last-child{
        display: none;
      }
    }
    .star{
      margin-bottom: 10px;
      i{
        font-size: 24px;
        color: #dadada;
      }
      i.star-active{
        color: $color-green;
      }
    }
    .offer-label {
      font-family: 'Arial';
      font-size: 24px;
      color: white;
      background: $color-purple;
      padding: 14px 10px;
      line-height: 1;
      margin-right: 10px;
      float: left;
    }
    .travel-features{
      display: flex;
      align-items: flex-end;

      & > div {
        flex-basis: 33.33%;
      }

      .feat-wrapper{
        background: $color-blue;
        text-align: center;
        color: white;
        padding: 25px 0;
        i{
          font-size: 28px;
          margin-bottom: 10px;
        }
      }

      .feat-main{
        .feat-wrapper{
          border-top: 5px solid darken($color-blue, 10%);
          background: darken($color-blue, 10%);
        }
      }
    }
    .trans-date {
      margin: 20px 0;

      label {
        font-weight: bold;
        color: black;
        font-size: 16px;
      }
      .date{
        font-family: 'Arial';
        font-weight: bold;
        color: $color-blue;
        font-size: 28px;
        letter-spacing: -1px;
      }
      .more-trans {
        text-decoration: underline;
        font-size: 11px;
        color: #828181;
      }
    }

    .travel-info-box{
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .travel-offer{
      background: #f2f2f2;
      padding: 10px;
      border-bottom: 5px solid #d8d8d8;

      label {
        font-weight: bold;
        color: #5c5c5c;
        font-size: 13px;
        display: block;
        margin-bottom: 2px;
      }

      .prices {
        .origin.p-eur{
          font-family: 'Arial';
          color: darken($color-orange, 10%);
          font-weight: bold;
          font-size: 48px;
          line-height: 1;
        }
        .origin.p-huf{
          font-family: 'Arial';
          color: #767676;
          font-size: 18px;
          line-height: 1.5;
        }
      }

      .travel-info{
        text-align: right;

        .travel-number{
          font-size: 16px;
          color: black;
          font-family: 'Arial';
          margin-bottom: 15px;
        }

        .info-link {
          display: block;
          font-size: 11px;
          font-style: italic;
          text-decoration: underline;
          color: #969696;
        }
      }
    }
  }

  .nav{
    .nav-tabs{
      border-left: 1px solid #cfd3d3;
      background: transparent;
      .tab-link{
        border-top: 3px solid $color-orange;
      }
    }
  }

  .fusion-tabs{
    margin: 0;
  }

  .travel-content-box{
    background: #e5e9e9;
    padding: 30px 0;
    margin: 0 -30px;
    margin-top: 30px;

    .info-box-container {
      .tab-content{
        background: #fff;
        margin-top: -1px;
        .tab-pane{
          border: 1px solid #cfd3d3;

          h2{
            font-size: 22px;
            font-weight: bold;
            color: black;
            margin: 0 0 10px 0;
          }
          p{
            font-size: 14px;
            color: #5c5c5c;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.fusion-tabs .tab-pane{
  font-family: 'Arial';
  font-size: 16px !important;
  color: #000000 !important;
  padding: 20px 30px;
}
.fusion-tabs.fusion-tabs-1 .nav-tabs li a{
  background: $color-orange !important;
}
.fusion-tabs.fusion-tabs-1 .nav-tabs li a:hover{
  background: $color-orange !important;
  color: black !important;
}
.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a{
  background: white !important;
}
.ui-state-default, .ui-widget-content .ui-state-default{
  color: $color-purple;
  text-align: center;
}
.ui-state-default, .ui-widget-content .ui-state-active{
  color: #fff;
  background: $color-orange;
  border: 1px solid darken($color-orange, 10%);
}
#ui-datepicker-div{
  z-index: 9999 !important;
}
